<%- include _header%>
<form method="post">
    title:<input type="text" id="title" name="title"/></br>
    content:<input type="text" id="content" name="content"/></br>
    content2:<input type="text" id="content2" name="content2"/></br>

    isshow :是<input type="radio" id="isshow" name="isShow" value="1"/>
      :否<input type="radio" id="isshow2" name="isShow" value="0"/>
    </br>
    createTime:<input type="text" id="createTime" name="createTime"/></br>


 <input type="submit" title="提交"/>
</form>
<%- include _footer%>